kestra/flows/01_ingestion.yml
id: 01_ingestion
namespace: austin_animal_center

description: |
  Fetches Austin Animal Center datasets from the Socrata API,
  cleans and normalizes timestamps, writes a Parquet file,
  and uploads it to Google Cloud Storage.

inputs:
  - id: dataset
    type: ENUM
    defaults: intakes
    values:
      - intakes
      - outcomes

variables:
  intakes_gcs_file: "gs://{{ kv('GCP_BUCKET_NAME') }}/raw/intakes.parquet"
  outcomes_gcs_file: "gs://{{ kv('GCP_BUCKET_NAME') }}/raw/outcomes.parquet"

tasks:
  - id: extract_and_clean
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    namespaceFiles:
      enabled: true
      include:
        - scripts/ingest_animals.py
    beforeCommands:
      - pip install pandas requests pyarrow --break-system-packages
    commands:
      - python scripts/ingest_animals.py --dataset {{ inputs.dataset }} --output {{ inputs.dataset }}.parquet
    outputFiles:
      - "*.parquet"

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: >
      {{ inputs.dataset == 'intakes'
         ? outputs.extract_and_clean.outputFiles['intakes.parquet']
         : outputs.extract_and_clean.outputFiles['outcomes.parquet'] }}
    to: >
      {{ inputs.dataset == 'intakes'
         ? vars.intakes_gcs_file
         : vars.outcomes_gcs_file }}

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{ kv('GCP_CREDS') }}"
      projectId: "{{ kv('GCP_PROJECT_ID') }}"
      location: "{{ kv('GCP_LOCATION') }}"
      bucket: "{{ kv('GCP_BUCKET_NAME') }}"